#project1 {
    /* background-image: url(https://picsum.photos/200); */
    background-repeat: no-repeat;
    height: 300px;
}

#project2 {

}


.test {
    color: red;
}

.screenshot{
    width:50vw;
    height:auto;
    background-position: center;
}